.pi-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 55px 0 64px 0;
}

.pi-cont__imgs {
  flex: 57.6%;
  //   background-color: lightgray;
}

.pi-cont__info {
  flex: 42.4%;
  // background-color: lightblue;
}

.pi-cont__imgs,
.pi-cont__img,
.pi-cont__thumbnails,
.pi-cont__info {
  width: 100%;
  height: 100%;
}

.pi-thumbnails {
  display: flex;
  gap: 12px;
}

.pi-thumnail {
  width: 107px;
  height: 107px;
  border-radius: 10px;
  background: #d9d9d9;
}

.pi-thumnail:hover {
  cursor: pointer;
}

.pi-wrapper {
  width: 100%;
  height: 100%;
  padding: 80px 0 72px 80px;
}

.pi-main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pi-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pi-main__subtitle {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  opacity: 0.5;
}

.pi-main__title {
  font-family: var(--Heading-font-family, "be vietnam pro");
  font-size: var(--Heading-font-size-H4, 50px);
  font-style: normal;
  font-weight: 600;
  line-height: 104%; /* 52px */
  letter-spacing: -2.5px;
}

.pi-main__desc {
  max-width: 473px;
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "be vietnam pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  opacity: 0.7;
}

.pi-main__price {
  display: flex;
  align-items: center;

  gap: 4px;
}

.pi-main__price-value--new {
  color: var(--Text, #1e1e1e);
  font-family: Poppins;
  font-size: 20px;
  font-style: bold;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.pi-main__price-value--old {
  color: var(--Text, #1e1e1e);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  opacity: 0.6;
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.pi-select label {
  color: var(--Text, #1e1e1e);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.5;
}

.device-select__options {
  display: flex;
  gap: 6px;
}

.pi-options__wrapper {
  display: flex;
  gap: 6px;
}

.pi-options__select {
  width: 175px;
}

.pi-options__dropdown {
  width: 100%;
  padding: 16px 14px;
  border-radius: 12px;
  border: 1px solid var(--Others-Line-1, #e3e5e8);
}

.pi-options__dropdown option {
  color: var(--Primary-Accent-1, #1e232b);
  font-family: "Poppins";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%; /* 21.3px */
}

.pi-options__label {
  color: var(--Text, #1e1e1e);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.5;
}

.pi-options__colors {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.pi-options__color {
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.pi-options__color svg {
  width: 100%;
  height: 100%;
  background-color: white;
}

.pi-options__color:hover {
  cursor: pointer;
}

.pi-options__color--active {
  border-radius: 50%;
  border: 1px solid rgba(15, 97, 255, 1);
}

.pi-options__color--disable {
  border: none;
}

.pi-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pi-buttons__group {
  display: flex;
  width: 444px;
  gap: 8px;
}

.pi-buttons-wrapper {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 56px;
  width: 440px;
  // padding: 16px;
  border-radius: 86px;
  border: 1px solid var(--Button-Primary-BG, #0f61ff);
  opacity: 0.4;
}
.btn-change-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  padding: 8px;
}

.btn-change-amount:hover {
  cursor: pointer;
}

.pi-buttons-wrapper button > svg {
  width: 24px;
  height: 24px;
}

.quantity {
  overflow: hidden;
  flex-grow: 1;
  color: var(--Button-Primary-BG, #0f61ff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: var(--Body-font-family, "be vietnam pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
  letter-spacing: -0.16px;
}

.btn-change-amount svg {
  color: #0f61ff;
  opacity: 1.5;
}

.btn__buy-now,
.btn__add-to-cart {
  padding: 16px 20px;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
  border: 1px solid var(--Button-Primary-BG, #0f61ff);
}

.btn__buy-now {
  color: var(--Button-Primary-Label, #fff);
  border-radius: 100px;
  background: var(--Button-Primary-BG, #0f61ff);
  width: 304px;
}

.btn__add-to-cart {
  color: var(--Button-Primary-BG, #0f61ff);
  border-radius: 100px;
  background: white;
}

.accordion,
.accordion__item,
.accordion__header {
  width: 100%;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.accordion__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: none;
  cursor: pointer;
  border: none;
  align-items: center;
}

.accordion__title {
  color: var(--Text, #1e1e1e);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
}

.accordion-list {
  list-style-type: disc;
  // padding-left: 20px;
}

.accordion-list__item {
  display: list-item;
}
